name: CI

on:
  push:
    branches: [main]
    paths:
      - "src/app/**"
      - ".github/workflows/**"

  pull_request:
    paths:
      - "client/**"
      - "server/**"
      - ".github/workflows/**"

concurrency:
  cancel-in-progress: true
  group: ci-${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}

jobs:
  changes:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - id: filter
        uses: dorny/paths-filter@v3
        with:
          filters: |
            - "package.json"
            - ".github/workflows/**"

  ci:
    runs-on: ubuntu-latest
    timeout-minutes: 30
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 22

      - name: Cache npm modules
        uses: actions/cache@v4
        with:
          path: |
            node_modules
          key: npm-cache-${{ runner.os }}-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            npm-cache-${{ runner.os }}-

      - name: Install deps
        run: npm ci

      - name: Format check
        run: npm run format:check

      - name: Lint
        run: npm run lint

      - name: Typecheck
        run: npm run typecheck

      - name: Build
        run: npm run build